<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <title>FTC Employees | References</title>
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="container">
    <!-- <table id="table"></table> -->
    <div id="toolbar" class="btn-group">
        <button type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
        <button></button>
        <button type="button" class="btn btn-default">
            Account
        </button>
        <button type="button" class="btn btn-default">
            Extensions
        </button>
        <button type="button" class="btn btn-default">
            Form
        </button>
        <button type="button" class="btn btn-default">
            Info
        </button>
    </div>
    <table id="table"
           data-toggle="table"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-toolbar="#toolbar">
        <thead>
        <tr>
            <th data-field="name">Name</th>
            <th data-field="stargazers_count">Stars</th>
            <th data-field="forks_count">Forks</th>
            <th data-field="description">Description</th>
        </tr>
        </thead>
    </table>
</div>
<script>
    $('#table').bootstrapTable({
        columns: [{
            field: 'title',
            title: 'Title'
        }, {
            field: 'username',
            title: 'Username'
        }, {
            field: 'password',
            title: 'Password'
        }, {
            field: 'other',
            title: 'Other Info'
        }],
        data: [{
            title: 'Adobe Connect',
            username: 'my.byui Email',
            password: '',
            other: 'byui.adobeconnect.com'
        }, {
            title: 'Adobe Photoshop',
            username: 'ilearntraining@gmail.com',
            password: 'Richardiscool!',
            other: ''
        }, {
            title: 'Animationfactory.com',
            username: 'Byudit',
            password: 'ysncua',
            other: ''
        }, {
            title: 'Articulate ID',
            username: 'ilearntraining@gmail.com',
            password: 'byuiftc7230',
            other: ''
        }, {
            title: 'Box',
            username: 'ilearn@byui.edu',
            password: 'ilearn12345',
            other: ''
        }, {
            title: 'BYU­I Photo',
            username: '',
            password: 'BYUI_photo',
            other: 'http://photo.byui.edu/'
        }, {
            title: 'Cisco Finesse',
            username: 'Depends on Extension',
            password: 'Callcenter16',
            other: ''
        }, {
            title: 'Clipart.com',
            username: 'rcms',
            password: 'art123',
            other: ''
        }, {
            title: 'Conference Calls',
            username: '',
            password: '',
            other: '7204'
        }, {
            title: 'Conference Room Door Code',
            username: '',
            password: '2659',
            other: ''
        }, {
            title: 'Ed Tech Door Code',
            username: '',
            password: '7535',
            other: ''
        }, {
            title: 'FTC Door Code',
            username: '',
            password: '2659',
            other: ''
        }, {
            title: 'FTC Google',
            username: 'ilearntraining',
            password: 'colinisdecent',
            other: ''
        }, {
            title: 'GitHub',
            username: 'ilearntraining@gmail.com',
            password: 'ftcgh17',
            other: 'Only use this for repository management. All commits should be made through your personal GItHub account'
        }, {
            title: 'GoToMeeting.com',
            username: 'Personal',
            password: 'Personal',
            other: ''
        }, {
            title: 'JetBrains Account',
            username: 'ftc17',
            password: 'ftcjb17!',
            other: 'This is used to manage the JetBrains license server'
        }, {
            title: 'join.me',
            username: 'ilearntraining@gmail.com',
            password: 'byuijm15',
            other: ''
        }, {
            title: 'Kaltura Clipping Tool',
            username: '',
            password: '',
            other: 'https://isaac.byui.edu/VideoClipping'
        }, {
            title: 'kmc.kaltura.com',
            username: 'ilearntraining@gmail.com',
            password: 'byuidaho1!',
            other: '**DO NOT USE THIS UNLESS YOU HAVE SPECIFIC TRAINING**'
        }, {
            title: 'LiveChat',
            username: '*your username* Account #: 1132447',
            password: 'tacobus6 or Tacobus6',
            other: 'https://authentication.liveperson.net/login.html '
        }, {
            title: 'Lynda,',
            username: '',
            password: '"Go to https://shib.lynda.com/Shibboleth.sso/InCommon?providerId=https://shib.byui.edu/idp/shibboleth&target=https://shib.lynda.com/InCommon and select ""No',
            other: "I've never had an account before."
        }, {
            title: 'Omnimusic',
            username: '(click link) ­>',
            password: '(click link) ­>',
            other: 'https://www.omnimusic.com/client_folder/index.php?c=byui'
        }, {
            title: 'Qualtrics',
            username: 'my.byui username',
            password: '',
            other: ''
        }, {
            title: 'Qualtrics Admin support request',
            username: '',
            password: '',
            other: 'https://docs.google.com/forms/d/1SfUNni5BjZuuzQRlzW3kCDf­ v75cZCt5De6wFwYcVk8/viewform'
        }, {
            title: 'Qualtrics University (training)',
            username: 'Personal',
            password: 'Personal',
            other: 'http://www.qualtrics.com/university/researchsuite/'
        }, {
            title: 'screencast­o­matic.com',
            username: 'wilcocka@byui.edu',
            password: 'byui13sc',
            other: ''
        }, {
            title: 'ScreenSteps Account 1,ilearntraining',
            username: 'ftcss16',
            password: '"If you want to use this account',
            other: ' be sure to grab the badge on the whiteboard and put it next to your name."'
        }, {
            title: 'ScreenSteps Account 2,ilearntraining2',
            username: 'ftcss16',
            password: '"If you want to use this account',
            other: ' be sure to grab the badge on the whiteboard and put it next to your name."'
        }, {
            title: 'Screensteps Account 3,ilearntraining3',
            username: 'ftcss16',
            password: '"If you want to use this account',
            other: ' be sure to grab the badge on the whiteboard and put it next to your name."'
        }, {
            title: 'Spyder3 Elite Activation Code',
            username: '',
            password: '',
            other: '44AE­1020­EBD7­B5F6'
        }, {
            title: 'Surface Pro 3',
            username: 'Faculty_Tech',
            password: 'byui1234',
            other: ''
        }, {
            title: 'Surplus Code',
            username: '',
            password: '7316070149',
            other: ''
        }, {
            title: 'Swank Movies on Equella',
            username: 'Your username',
            password: 'Your password',
            other: 'https://content.byui.edu/access/home.do'
        }, {
            title: 'Turnitin',
            username: 'ilearntraining@gmail.com',
            password: 'TurnAdm1n',
            other: 'www.turnitin.com [Access no longer valid ­ SEE TURNITIN UNDER INFO SECTION]'
        }, {
            title: 'Turnitin Info',
            username: '85124',
            password: '#IHonorIt',
            other: 'For teachers to create accounts associated with BYU-Idaho'
        }, {
            title: 'Unreal Engine Profile',
            username: 'ilearntraining@gmail.com',
            password: 'nurcingsim2015',
            other: ''
        }, {
            title: 'VideoScribe',
            username: 'wilcocka@byui.edu',
            password: 'ftcvs17',
            other: ''
        }, {
            title: 'Vimeo',
            username: 'ilearntraining@gmail.com',
            password: 'byuidaho',
            other: ''
        }, {
            title: 'Weebly Edtech Site',
            username: 'edtech.byui@gmail.com',
            password: 'edech14',
            other: 'www.byuiedtechlab.com NOTE: Login thru www.weebly.com to edit site.'
        }]
    });
</script>
</body>
</html>