<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <style>
        h1,h2{
            border: none;
        }
    </style>
</head>
<body>
    <% include partials/nav.ejs %>
    <div class="container text-center">
        <h1><%= error.status %></h1>
        <h1><%= message %></h1>
        <img src="/images/aaronfull.gif">
    </div>
</body>
</html>

