<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css"/>
    <script rel="script" type="text/javascript" src="/javascripts/index.js"></script>
</head>

<body>
<% include partials/nav.ejs %>
<%
var today = new Date().getDay()
if (typeof user == 'object' && user && (today == 1 || today == 5)) { %>
<% include partials/logModal.html %>
<%
}
%>
<div class="container">
    <a href="/announce">
        <div class="banner">
        </div>
    </a>

    <section id="dropdownCards">
        <ul class="nav nav-pills" role="tablist">
            <li class="active"><a data-toggle="tab" href="#dailyLinks">FTC Team Daily Links</a></li>
            <li><a data-toggle="tab" href="#programLinks">Program Links</a></li>
            <li><a data-toggle="tab" href="#otherLinks">Other Links</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="dailyLinks">
                <div class="flex-parent">
                    <a href="https://byui.brightspace.com/d2l/login?noredirect=true" target="_blank">
                        <div class="card">
                            <button class="btn btn-large btn-accent text-center">
                                <span class="glyphicon glyphicon-education"></span><br>
                                I-Learn</button>

                        </div>
                    </a>
                    <a href="https://eos.byui.edu:8445/desktop/container/?locale=en_US" target="_blank">
                        <div class="card">
                            <button class="btn btn-accent"><span class="glyphicon glyphicon-phone-alt"></span><br>Cisco</button>
                        </div>
                    </a>
                    <a href="https://www.myworkday.com/byuhi/d/home.htmld" target="_blank">
                        <div class="card">

                            <button class="btn btn-accent"><span class="glyphicon glyphicon-usd"></span><br>Workday</button>
                        </div>
                    </a>
                    <a href="https://outlook.office.com/owa/?realm=byui.edu&exsvurl=1&ll-cc=1033&modurl=0"
                       target="_blank">
                        <div class="card">
                            <button class="btn btn-accent"><span class="glyphicon glyphicon-envelope"></span><br>Outlook</button>
                        </div>
                    </a>
                    <a href="https://td.byui.edu/tdnext/login.aspx" target="_blank">
                        <div class="card">
                            <button class="btn btn-accent"><span class="glyphicon glyphicon-stats"></span><br>Team Dynamix</button>
                        </div>
                    </a>
                    <a href="https://trello.com/b/EEOy2BuC/projects" target="_blank">
                        <div class="card">
                            <button class="btn btn-accent"><span class="glyphicon glyphicon-dashboard"></span><br>Trello</button>
                        </div>
                    </a>
                    <a href="https://inet.byui.edu/sites/FTC/_layouts/15/start.aspx#/" target="_blank">
                        <div class="card">
                            <button class="btn btn-accent"><span class="glyphicon glyphicon-cloud"></span><br>Sharepoint</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="tab-pane fade in" id="programLinks">
                <div class="flex-parent">
                    <a href="https://byui.az1.qualtrics.com/ControlPanel/" target="_blank">
                        <div class="card">
                            <button class="btn btn-accent"><span class="glyphicon glyphicon-question-sign"></span><br>
                                Qualtrics
                            </button>
                        </div>
                    </a>
                    <a href="https://content.byui.edu/home.do" target="_blank">
                        <div class="card">
                            <button class="btn btn-accent"><span class="glyphicon glyphicon-folder-open"></span><br>Equella</button>
                        </div>
                    </a>
                    <a href="https://video.byui.edu/" target="_blank">
                        <div class="card">
                            <button class="btn btn-accent"><span class="glyphicon glyphicon-film"></span><br>Kaltura</button>
                        </div>
                    </a>
                    <a href="https://byui.mapleta.com/byui/login/login.do" target="_blank">
                        <div class="card">
                            <button class="btn btn-accent"><span class="glyphicon glyphicon-leaf"></span><br>Maple TA</button>
                        </div>
                    </a>
                    <a href="https://na9cps.adobeconnect.com/system/login?domain=byui.adobeconnect.com&next=%2Fadmin%3Fdomain%3Dbyui.adobeconnect.com&set-lang=en"
                       target="_blank">
                        <div class="card">
                            <button class="btn btn-accent"><span class="glyphicon glyphicon-user"></span><br>Adobe Connect</button>
                        </div>
                    </a>

                    <a href="https://accounts.logme.in/login.aspx?clusterid=02&returnurl=https%3A%2F%2Fwww.join.me%2Ffederated%2Floginsso.aspx%3Ffwdto%3D&headerframe=https%3A%2F%2Fwww.join.me%2Ffederated%2Fresources%2Fheaderframe.aspx&productframe=https%3A%2F%2Fwww.join.me%2Ffederated%2Fresources%2Fdefaultframe.aspx&lang=en-US&skin=joinme&regtype=X&trackingproducttype=1&trackinguniqueid=cef52e9a-91f7-461f-81b6-7d87809e044c"
                       target="_blank">
                        <div class="card">
                            <button class="btn btn-accent"><span class="glyphicon glyphicon-play-circle"></span><br>Join.me</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="tab-pane fade in" id="otherLinks">
                <div class="flex-parent">
                    <a href="http://byu-idaho.screenstepslive.com/s/16915/m/65029" target="_blank">
                        <div class="card">
                            <button class="btn btn-accent"><span class="glyphicon glyphicon-flag"></span><br>FTC Guides</button>
                        </div>
                    </a>
                    <a href="https://drive.google.com/drive/my-drive" target="_blank">
                        <div class="card">
                            <button class="btn btn-accent"><span class="glyphicon glyphicon-hdd"></span><br>FTC G-Drive</button>
                        </div>
                    </a>
                    <a href="https://byu-idaho.screenstepslive.com/login" target="_blank">
                        <div class="card">
                            <button class="btn btn-accent"><span class="glyphicon glyphicon-file"></span><br>Screensteps</button>
                        </div>
                    </a>
                    <a href="https://web.byui.edu/directory/employees/" target="_blank">
                        <div class="card">
                            <button class="btn btn-accent"><span class="glyphicon glyphicon-list-alt"></span><br>Employee <br> Directory</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


</div>
</body>

</html>
