<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs%>
</head>
<body>
    <% include ../partials/nav.ejs %>
    <div class="jumbotron animated fadeInLeft">
        <div class="container">
            <h1>A/V Tutorials</h1>
            <div class="row">
                    <!--Search bar-->
            </div>
        </div>
    </div>
</body>
</html>