<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="jumbotron">
    <div class="container">
        <h1>Issue Routing</h1>
        <!--<h4 class="no-border text-center">Here you can find information regarding routing non-FTC issues</h4>-->
        <div class="col-md-6 col-md-offset-3 alert alert-danger text-center">This tool is still in beta. Feel free to try it,
            but verify the information with the
            <a href="https://docs.google.com/document/d/1Ez5b-bxBc8Pjpqd61qDyOghYBXtDD_IJ2e6Unhb2o04/edit?usp=sharing" target="_blank" style="color: inherit;">
                Whiteboard Info</a> document</div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="d" class="col-md-6 col-md-offset-3">

        </div>
    </div>

    <section id="buttons">
        <section id="tier1" class="text-center">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="hardware" onclick="showTier2('tier2h', 'h')">
                        Hardware
                    </button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="software" onclick="showTier2('tier2s', 's')">
                        Software
                    </button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="regist" onclick="showPanel('regist')">
                        Registration/Enrollment
                    </button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="grade" onclick="showPanel('grades')">Grade
                        Submissions
                    </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="photo" onclick="showPanel('photos')">Photo
                        Shoots
                    </button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="photo" onclick="showPanel('photos')">Recording a
                        Class
                    </button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="edtech" onclick="showPanel('edTech')">Taking the
                        TCA
                    </button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="testing" onclick="showPanel('TestSched')">
                        Scheduling a Test
                    </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="copyright" onclick="showPanel('Copyright')">
                        Copyright
                    </button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="av" onclick="showPanel('AV')">A/V</button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="cc" onclick="showPanel('CC')">Adding Subtitles
                        to Videos
                    </button>
                </div>
            </div>
        </section>

        <section id="tier2h" hidden>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="printer"
                            onclick="showRoleCheck('tier2h', 'printer')">Printers
                    </button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="phones" onclick="showPanel('phone')">Phones
                    </button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="computers"
                            onclick="showPersonalCheck('tier2h', 'c')">Computers
                    </button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="projector" onclick="showPanel('hcc')">Projector</button>
                </div>
            </div>
        </section>
        <section id="tier2s" hidden>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="equella" onclick="showRoleCheck('tier2s', 'equella')">Equella</button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="kaltura" onclick="showPanel('kaltura')">Kaltura</button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="iplan" onclick="showPanel('iplan')">I-Plan</button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="ilearn" onclick="showiLearnTier()">I-Learn</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="adobe" onclick="showMacRoleCheck('tier2s')">Adobe Creative Suite</button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="msoffice" onclick="showMacRoleCheck('tier2s')">Microsoft Office</button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="vmware" onclick="showPanel('VMWare')">VM Ware</button>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button class="btn btn-block btn-accent btn-lg" id="qualtrics" onclick="showPanel('FTC')">Qualtrics</button>
                </div>
            </div>
        </section>
        <section id="ilearnTier" hidden>
            <div class="row text-center">
                <h4 class="no-border">Select Role</h4>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <button class="btn btn-block btn-accent btn-lg" onclick="showPanel('FTC')">Faculty</button>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <button class="btn btn-block btn-accent btn-lg" onclick="showPanel('courseSupport')">Online Faculty</button>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <button class="btn btn-block btn-accent btn-lg" onclick="showPanel('BSC')">Campus Student</button>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <button class="btn btn-block btn-accent btn-lg" onclick="showPanel('courseSupport')">Pathway Student</button>
                </div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <button class="btn btn-block btn-accent btn-lg" onclick="showPanel('ilearnIT')">FTC Employee</button>
                </div>
            </div>
        </section>
        <section id="RoleCheck" hidden>
            <div class="row text-center">
                <h4 class="no-border"> Select Role</h4>
                <div class="col-sm-12 col-md-6">
                    <button class="btn btn-block btn-accent btn-lg" id="student" onclick="showPanel('BSC')">Student
                    </button>
                </div>
                <div class="col-sm-12 col-md-6">
                    <button class="btn btn-block btn-accent btn-lg" id="faculty" onclick="showPanel()">Faculty</button>
                </div>
            </div>
        </section>
        <section id="RoleCheckMac" hidden>
            <div class="row text-center">
                <h4 class="no-border"> Select Role</h4>
                <div class="col-sm-12 col-md-6">
                    <button class="btn btn-block btn-accent btn-lg" id="student" onclick="showPanel('mac')">Student
                    </button>
                </div>
                <div class="col-sm-12 col-md-6">
                    <button class="btn btn-block btn-accent btn-lg" id="faculty" onclick="showPanel('FTC')">Faculty</button>
                </div>
            </div>
        </section>
        <section id="personalCheck" hidden>
            <div class="row text-center">
                <h4 class="no-border">Is this a personal computer?</h4>
                <div class="col-sm-12 col-md-6">
                    <button class="btn btn-block btn-accent btn-lg" id="personal"
                            onclick="showRoleCheck('personalCheck', 'p')">Yes
                    </button>
                </div>
                <div class="col-sm-12 col-md-6">
                    <button class="btn btn-block btn-accent btn-lg" id="campus"
                            onclick="showRoleCheck('personalCheck', 'c')">No
                    </button>
                </div>
            </div>
        </section>
    </section>
    <div class="container" style="position: fixed; padding: 20px 0; bottom: 0;">
        <div class="col-md-2 col-md-offset-10">
            <button class="btn btn-primary btn-block btn-lg" id="clear">Clear</button>
        </div>
    </div>

    <script src="/javascripts/isrouter.js"></script>
    <script src="/javascripts/issuerouting.js"></script>
</div>


</body>
</html>