<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <title>FTC Employees | Kudos</title>
</head>

<body>
<% include ../partials/nav %>
<div class="container" id="outermost">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeoZdEzgTWtb9WGj8rT2lN9Q38H60cLHeL21x60Y3LIRXwYfg/viewform?embedded=true" width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
</body>

</html>
